<section class="center" include-html = "templates/typewiser01/section1.html"></section>
<section include-html = "templates/typewiser01/section2.html"></section>
<section include-html = "templates/typewiser01/section3.html"></section>
<section include-html = "templates/typewiser01/section4.html"></section>
<section include-html = "templates/typewiser01/section5.html"></section>
<section include-html = "templates/typewiser01/section6.html"></section>
<section include-html = "templates/typewiser01/section7.html"></section>